//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

form
  fieldset(class="form-group")
    label(for="protein") Enter Desired Protein
    input(type="text" class="form-control" placeholder="Protein in grams")
ul(class="table-inverse")
  li(class="list-item" ng-repeat="food in nutritionData")
    .title {{food.FdGrp_Desc}}
    .toggle(class="fa" ng-class="{'fa-chevron-down': isOpen, 'fa-chevron-up': !isOpen}" ng-click="toggleOpen(food.FdGrp_Cd)")
