//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

doctype html
html(ng-app='app')
    head
        title
            block title
                | Untitled
        base(href='/')
        link(rel='stylesheet', type='text/css', href='/main.css')
        link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/css/tether.min.css')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous")

    body
        block content
            // Oops... someone forgot to override the basic content block

        block scripts
            script(src='https://code.jquery.com/jquery-2.1.4.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js')
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous")
            script(src='/client.js')
