//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

extends ../layouts/basic

block title
    | Macro finder

block content

    //- a directive in the sample module
    .container
      .home
